<html>
    <body>
        
        
         <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Tap.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
        
        
    </body> 
</html>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
        <header>
           
            <nav>
                <div class="nav-wrapper yellow">
                    <a href="#" class="brand-logo">www.TAP.com</a>
                    <ul class="right">
                       <li><a href="index.html">Home</a></li>
                       <li><a href="chat.html">chat</a></li>
                       <li><a href="manga.html">manga</a></li>
                       <li><a href="comics.html">comics</a></li>
                        <li><a href="recommendations.html">recommendations</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">Tap</h1>
                    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>

<div class="container">

</div>
    <div>
        
      
    </div>

</body>
</html>

                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer yellow">
            <div class="container">
                <p><a href="#">back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Totally,Awesome,Procrastination @201X samax
                </div>
            </div>
        </footer>
        
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/To Do List.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script text="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.jscopy"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
    <script id="blogs-template" type="text/x-handlebars-template">
      {{#each posts}}
      <div class="Blog-post">
          <h2 class="blog-post-title">{{title}}</h2>
          <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
             <div> {{content}} </div>
          </div>
     {{/each}}
      
      </script>
     <script type="text/javascript" src="libs/Backendless.js"></script>  
    </body>
  </html>
        


